<div>
    <h2 id="page-heading">
        <span>Commentaries</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commentary" [routerLink]="['/commentary/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Commentary
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="commentaries?.length === 0">
        <span>No commentaries found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="commentaries && commentaries.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span>Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateModified"><span>Date Modified</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isModified"><span>Is Modified</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="extendedUserId"><span>Extended User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="albumId"><span>Album</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let commentary of commentaries ;trackBy: trackId">
                    <td><a [routerLink]="['/commentary', commentary.id, 'view']">{{ commentary.id }}</a></td>
                    <td>{{ commentary.description }}</td>
                    <td>{{ commentary.dateCreated | date:'medium' }}</td>
                    <td>{{ commentary.dateModified | date:'medium' }}</td>
                    <td>{{ commentary.isModified }}</td>
                    <td>
                        <div *ngIf="commentary.extendedUserId">
                            <a [routerLink]="['/extended-user', commentary.extendedUserId , 'view']" >{{ commentary.extendedUserId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="commentary.albumId">
                            <a [routerLink]="['/album', commentary.albumId , 'view']" >{{ commentary.albumId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/commentary', commentary.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/commentary', commentary.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(commentary)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="commentaries && commentaries.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
