<div>
    <h2 id="page-heading">
        <span>Like Commentaries</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-like-commentary" [routerLink]="['/like-commentary/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Like Commentary
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="likeCommentaries?.length === 0">
        <span>No likeCommentaries found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="likeCommentaries && likeCommentaries.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="extendedUserId"><span>Extended User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="comentaryId"><span>Comentary</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let likeCommentary of likeCommentaries ;trackBy: trackId">
                    <td><a [routerLink]="['/like-commentary', likeCommentary.id, 'view']">{{ likeCommentary.id }}</a></td>
                    <td>
                        <div *ngIf="likeCommentary.extendedUserId">
                            <a [routerLink]="['/extended-user', likeCommentary.extendedUserId , 'view']" >{{ likeCommentary.extendedUserId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="likeCommentary.comentaryId">
                            <a [routerLink]="['/commentary', likeCommentary.comentaryId , 'view']" >{{ likeCommentary.comentaryId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/like-commentary', likeCommentary.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/like-commentary', likeCommentary.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(likeCommentary)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="likeCommentaries && likeCommentaries.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
