<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="disLikeCommentary">
            <h2><span>Dis Like Commentary</span> {{ disLikeCommentary.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Extended User</span></dt>
                <dd>
                    <div *ngIf="disLikeCommentary.extendedUserId">
                        <a [routerLink]="['/extended-user', disLikeCommentary.extendedUserId, 'view']">{{ disLikeCommentary.extendedUserId }}</a>
                    </div>
                </dd>
                <dt><span>Comentary</span></dt>
                <dd>
                    <div *ngIf="disLikeCommentary.comentaryId">
                        <a [routerLink]="['/commentary', disLikeCommentary.comentaryId, 'view']">{{ disLikeCommentary.comentaryId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dis-like-commentary', disLikeCommentary.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
